
/* part-1 */
body,h1,h2,h3,h4,h5,h6,span,a{
	font-family: 'Spartan', sans-serif;
}
.menu-logo img {
	width: 80px;
}
.menu-item li{
	position: relative;
}
.common a{
	color: blue !important;
}
.common a::after{
	content: "";
	position: absolute;
	width:32px;
	height: 3px;
	background: blue;
	bottom: -16px;
	left: 20px;
}
.menu-item li a {
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
	color: #000;
	font-weight: 600;
	transition: .5s;
}
.menu-item li::after {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	background: blue;
	bottom: -16px;
	left: 20px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}
.menu-item li:hover::after{
	width: 32px;
	opacity: 1;
	visibility: visible;
}
.menu-item li:hover >a {
	color: blue;
}
.menu-item li ul {
	padding: 10px;
	list-style: none;
	width: 206px;
	position: absolute;
	top: 150%;
	left: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}
.menu-item li:hover > ul {
	top: 135%;
	opacity: 1;
	visibility: visible;
 }
.menu-item li ul li{
	display: block;
}
.menu-item li ul li::after{
	content: "";
	background: none;
}
.menu-item li ul li a:hover{
	background: blue;
	color: #fff;
}
.button a{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	color: blue;
	border-radius: 50px;
	padding: 11px 30px;
	position: relative;
	z-index: 1;
	transition: .5s;
}
.button-2 a{
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: blue;
	border-radius: 50px;
	padding: 11px 30px;
	position: relative;
	z-index: 1;
	transition: .5s;
}
.button a::after{
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background: blue;
	transition: .5s;
	border-radius: 50px;
	z-index: -1;
}
.button-2 a::after{
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	transition: .5s;
	border-radius: 50px;
	z-index: -1;
}
.button a:hover::after{
	width: 100%;
}
.button a:hover{
	color: #fff !important;
}
.button-2 a:hover{
	color: blue !important;
}
.heder-bar{
	background: #d4d3d3;
}

.for-height-content{
	height: 500px;
}
.banner-content-1 h1 {
	font-size: 47px;
	font-weight: bold;
}
.banner-content-1 p {
	color: #757575;
	margin: 28px 0;
}
.banner-width{
	height: 500px;
}
.banner-imge {
	width: 750px;
	position: relative;
}
.banner-imge img {
	max-width: 100%;
	border-radius: 50%;
	position: absolute;
	top: -150px;
	height: 750px;
}
.for-flow {
	width: 663px;
	height: 600px;
	overflow: hidden;
}

/* part-2 */
body,h1,h3,h4,h2,h5,h6,span,a,strong{
    font-family: 'Spartan', sans-serif;
}
.project-header {
	margin-top: 120px;
	margin-bottom: 50px;
}
.heading-feature h5 {
	font-size: 16px;
	font-weight: 400;
}
.heading-feature h1 {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 36px;
	margin-top: 20px;
    position: relative;
}
.heading-feature h1::after {
	content: "";
	position: absolute;
	bottom: -16px;
	left: 0;
	width: 68px;
	height: 3px;
	background: blue;
}
.heading-feature p {
	font-size: 15px;
	color: #606060;
}

.icon-item{
    background: #f6f9fc;
    border-radius: 7px;
    padding: 25px;
    transition: .5s;
}
.icon-item h6 {
	font-size: 20px;
	padding-top: 14px;
	padding-bottom: 20px;
}
.icon-item span {
	font-size: 43px;
	color: #fff;
	background: blue;
	width: 76px;
	height: 74px;
	line-height: 88px;
	display: inline-block;
	text-align: center;
	border-radius: 50% 50% 50% 0;
	margin-bottom: 50px;
    position: relative;
    transition: .5s;
}
.icon-item span::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 45px;
	height: 3px;
	background: blue;
    transition: .5s;
}
.icon-item:hover.icon-item span::after{
	width:60px ;
}
.icon-item p {
	margin-bottom: 0;
	font-size: 14px;
	color: #606060;
    transition: .5a;
}
.icon-item:hover p{
    color: #fff;
}
.icon-item:hover{
    background: blue;
    color: #fff;
    transform: scale(1.02);
}
.icon-item:hover span{
    background: #fff;
    color: blue;
}
.icon-item:hover span::after{
    background: #fff;
}
.icon-section{
	position: relative;
}
.icon-section::after {
	content: "";
	position: absolute;
	background-image: url(./service-patern.png);
	background-size: contain;
	background-repeat: no-repeat;
	left: 59px;
	bottom: -54px;
	width: 84%;
	height: 78%;
	z-index: -1;
}
.banner-section-1 {
	background-image: url(./video-bg.jpg);
	background-position: top center;
	background-size: cover;
	padding: 200px 0;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	margin-top: 80px ;
}
.banner-section-1::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	z-index: -1;
}
.banner-content h5 {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	
}
.banner-content h1::after {
	content: "";
	position: absolute;
	width: 78px;
	height: 3px;
	background-color: #fff;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -20px;
}
.banner-content h1 {
	font-size: 42px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
}
.banner-content p {
	width: 564px;
	margin: auto;
	color: #fff;
	margin-top: 40px;
}
.button-play{
	margin-top:70px ;
	transition: .5s;
}
.button-play span:hover{
	background: blue;
	color: #fff;
}
.button-play span {
	font-size: 25px;
	color: blue;
	display: inline-block;
	background: #ffff;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	position: relative;
	transition: .5s;
	padding-top: 6px;

}
.button-play span::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #ddd;
	animation: play 1s ease-out infinite;
}
@keyframes play{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	30%{
		transform: scale(1.2);
		opacity: .8;
	}

	50%{
		transform: scale(1.3);
		opacity: .6;
	}
	75%{
		transform: scale(1.4);
		opacity: .4;
	}
	100%{
		transform: scale(.5);
		opacity: 0;
	}
}
.button-play-2 .span-2{
	position: relative;
}

.button-play-2 .span-2::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #ddd;
	animation: play-1 1.5s ease-out infinite;
	
}
@keyframes play-1{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	25%{
		transform: scale(1.2);
		opacity: .8;
	}
	
	50%{
		transform: scale(1.3);
		opacity: .6;
	}
	75%{
		transform: scale(1.4);
		opacity: .4;
	}
	100%{
		transform: scale(1.5);
		opacity: 0;
	}
}

/* clas 35 part 3 */
.pricing-section-part{
	background:#f6f9fc ;
}
.pricing-title .heading-feature h1::after{
	content: "";
	position: absolute;
	bottom: -26px;
	left: 0;
	right: 0;
	margin: auto;
	width: 68px;
	height: 3px;
	background: blue;
}
.pricing-title .heading-feature p {
	margin-bottom: 36px;
}
.pricing-table-item {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.pricing-table-tile {
	padding-bottom: 15px;
	position: relative;
	transition: .5s;
}
.pricing-table-tile::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 142px;
	height: 2px;
	background: #ecebeb;
	border-radius: 50%;
}
.pricing-table-tile h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 45px;
	padding-top: 50px;
}
.pricing-table-tile h1 {
	font-weight: 600;
}
.pricing-table-tile p {
	color: #606060;
	transition: .5s;
}
.pricing-item-list ul {
	list-style: none;
	padding-left: 0;
	margin: 31px 0;
}
.pricing-item-list ul li {
	color: #606060;
	line-height: 46px;
}
.pricing-table-item:hover .pricing-table-tile{
	background: blue;
	color: #fff;
	border-radius: 10px 10px 0 0 ;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.pricing-table-item:hover{
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.pricing-table-item:hover p{
	color: #fff;
}
.purchase-section{
	background-image: url(./free-bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 200px 0;
	position: relative;
	z-index: 1;
}
.purchase-section::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0, 0, 255, .5);
	width: 100%;
	height: 100%;
	z-index: -1;
}
.purchase-content .heading-feature h1{
	position: relative;
}
.purchase-content .heading-feature h1::after{
	content: "";
	position: absolute;
	bottom: -26px;
	left: 0;
	right: 0;
	margin: auto;
	width: 68px;
	height: 3px;
	background: blue;
}
.purchase-content .heading-feature p {
	margin-top: 51px;
	margin-bottom: 30px;
}
.purchase-content h1 {
	color: #fff;
	width: 583px;
	margin: auto;
}
.purchase-content h5 {
	color: #fff !important;
}
.purchase-content .heading-feature p {
	margin-top: 51px;
	margin-bottom: 30px;
	width: 500px;
	color: #fff;
}
.contact-section{
    background: #f6f9fc;
}
.contact-details {
	background: blue;
	color: #fff;
	padding: 47px;
}
.contact-details h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
}
.contact-details p {
	margin-bottom: 32px;
}
.contact-details input {
	border: navajowhite;
	padding: 13px;
	border-radius: 50px;
	margin-right: 54px;
	width: 400px;
}
.button-3 {
	border: 1px solid #fff;
	border-radius: 50px;
}
.contact-details-right {
	padding: 27px 40px;
	background: #fff;
	color: #000;
}
.contact-details-right p {
	font-size: 13px;
	margin-bottom: 12px;
}
.company-list ul {
	list-style: none;
}
.company-list ul li {
	border: 1px solid #ddd;
	padding: 20px;
    transition: .5s;
}
.company-list ul li:hover{
    background: #ddd;
}

/* class 37 */

.blog-img{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	
}
.blog-img img {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	transition: .5s;
}
.blog-img img:hover{
	transform: scale(1.2);

}
.sub-blog-img {
	height: 40px;
	position: absolute;
	bottom: 23px;
	right: 23px;
	background: blue;
	width: 172px;
	border-radius: 50px;
}
.sub-blog-img img {
	width: 19%;
	border-radius: 50%;
	margin-left: 6px;
	margin-right: 10px;
}
.sub-blog-text h3 {
	font-size: 12px;
	margin-bottom: 0;
	color: #fff;
	padding-top: 4px;
}
.blog-item h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 24px 0;
}
.blog-item p {
	font-size: 13px;
	line-height: 23px;
	color: #606060;
}

.footer-section {
	background: #000;
	padding-top: 70px;
}
.footer-log-part img{
	width: 50%;
}
.footer-log-part p {
	color: #fff;
	margin-top: 30px;
}
.footer-log-part ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
}
.footer-log-part ul li{
	display: inline-block;
	margin: 0 25px;
	margin-top: 20px;
}
.footer-log-part ul li a {
	font-size: 20px;
	color: #fff;
	transition: .5s;
	transform: translateY(0);
}
.footer-log-part ul li a:hover{
	color: blue;
	transform: translateY(-15px);
}
.footer-part-2 h2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 50px;
	position: relative;
	margin-left: 10px;
}
.footer-part-2 h2::before {
	content: "";
	position: absolute;
	width: 3px;
	left: -10px;
	top: -4px;
	height: 25px;
	background: blue;
}
.footer-part-2 ul{
	list-style: none;
	padding-left: 0;
	
}
.footer-part-2 ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 42px;
}
.footer-bottom {
	margin-top: 56px;
}
.footer-bottom h3 {
	font-size: 19px;
	color: #fff;
	padding: 30px 0;
	border-top: 1px solid #ddd;
}